/* @import url("./volt.css"); */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");

:root {
	/* Variables for default theme (light-mode) */
	--sidenav-bg-color: #29313d;
	--body-bg-color: #f9fafb;
	--main-color: #29313d;
	--main-header: #f38113;
	--main-bg-color: #f9fafb;
	--component-card-wrapper-bg-color: #fff;
	--component-card-wrapper-header-bg-color: #ccc;
	--background-color: white;
	--text-color: black;
	--a-color: #df0eb1;
	--a-hover-color: #800665;
}

[data-theme="dark"] {
	/* Variables for dark mode */
	--sidenav-bg-color: #212730;
	--body-bg-color: #29313d;
	--main-color: #f9fafb;
	--main-header: #e22bbb;
	--main-bg-color: #29313d;
	--component-card-wrapper-bg-color: #24272c;
	--component-card-wrapper-header-bg-color: rgb(44, 44, 44);
	--background-color: black;
	--text-color: white;
	--a-color: #df0eb1;
	--a-hover-color: #800665;
}

html,
body {
	background-color: var(--body-bg-color);
}

a {
	color: var(--a-color);
	text-decoration: none;
}
a:hover {
	color: var(--a-hover-color);
	text-decoration: none;
}
